<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{item.name}}</title>
</head>
<body>
  <form action="">
    <h1 style="font-size: 25px;">{{item.name}} has {{item.balance}} money his(her) email: {{item.email}}</h1>
    <input type="text" name="name" value="{{name}}" autocomplete="off" autofocus>
    <input type="text" name="balance" value="{{balance}}" autocomplete="off">
    <input type="email" name="email" id="" value="{{email}}" >
    <button type="submit">Send</button>
  </form>
  
</body>
</html>