<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
      <!-- <link rel="stylesheet" type="text/css" href="./styles.css"> -->
      <title>{{title}}</title>
    <body>
      <table class="table">
        <thead>
          <tr><th>#</th><th>Name</th><th>Gender</th><th>Money</th><th>email</th></tr>
        </thead>
        <tbody>
          {{#users}}
          <tr data-id='{{_id}}'>
            <td>{{index}}</td>
            <td><a href="/users/{{_id}}">{{name}}</a></td>
            <td>{{gender}}</td>
            <td>{{balance}}</td>
            <td>{{email}}</td>
          </tr>
          {{/users}}
        </tbody>
      </table>
    </body>
</html>