<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="./styles.css">
      <script src="./main.js" type="module"></script>
      <title>{{title}}</title>
    <body>
      <table class="table">
        <thead>
          <tr><th>#</th><th>Name</th><th>Gender</th><th>Money</th><th>email</th></tr>
        </thead>
        <tbody>
          {{#users}}
          <tr><td>{{index}}</td><td>{{name}}</td><td>{{gender}}</td><td>{{balance}}<td>
            {{email}}
          </td></tr>
          {{/users}}
        </tbody>
      </table>
    </body>
</html>