<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>{{title}}</title>
  </head>
  <body>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Money</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        {{#users}}
          <tr>
            <td>{{index}}</td>
            <td><a href="/users/{{_id}}">{{name}}</a></td>
            <td>{{gender}}</td>
            <td>{{balance}}</td>
            <td>{{email}}</td>
          </tr>
          {{/users}}
      </table>
    </body>
</html>