.grid {
  display: flex;
  margin: 20px;
  padding: 0;
  width: auto;
  flex-wrap: wrap;
  position: relative;
}

.cell {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

}

.grass {
  background-color: green;
  
}

.wall {
  width: 780px;
  height: 480px;
  position: absolute;
  top: 20px;
  left: 28px;
  border: 10px solid brown;
}